* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    margin: 35px 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    position: relative;
}

.menu-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
}

.menu-button {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

/* ----- IMAGEM PRINCIPAL ----- */
.image-logo {
    width: 595px;
    height: auto;
}

/* ----- CONTEÚDO PRINCIPAL ----- */
.div-main {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 100px auto 0;
    gap: 100px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 60px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 100%;
    max-width: 582px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    max-width: 493px;
}

.link-section {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}

.link-section:hover,
 .menu-header:hover {
    opacity: 0.4;
}

.link-section:active,
.menu-header:active {
    opacity: 0.8;
}

.menu-button:hover {
    opacity: 0.8;
}

.menu-button:active {
    opacity: 0.4;
}

/* ----- ÍCONES IDIOMA ----- */
.img-translate {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: -15px
}

.img-br {
    width: 22px;
    cursor: pointer;
}

.img-usa {
    width: 20px;
    cursor: pointer;
}

.img-br:hover,
.img-usa:hover {
    opacity: 0.5;
}

.img-br:active,
.img-usa:active {
    opacity: 0.8;
}

/* ---------- RESPONSIVIDADE ---------- */
@media screen and (max-width:900px) {

    header {
        flex-wrap: wrap;
        gap: 10px;
    }

    .menu-header {
        display: none;
    }

    /*  CONTEÚDO PRINCIPAL  */
    .div-main {
        display: flex;
        flex-flow: column wrap;
        margin: 65px auto 0;
        gap: 30px;
    }

    section {
        align-items: center;
        text-align: center;
        gap: 20px
    }

    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #161A49;
        width: 278px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
        max-width: 493px;
        padding: 0 30px
    }

    .link-section {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #6FBF44;
        cursor: pointer;
    }

    /*  IMAGEM PRINCIPAL  */
    .image-logo {
        width: 80%;
        max-width: 320px;
        order: 1;

    }

    /*  ÍCONES IDIOMA  */
    .img-translate {
        top: -10px;
        right: 10px;
    }

    .img-br {
        width: 30px;
    }

    .img-usa {
        width: 28px;
    }
}